@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "../utilities/remConvertor" as *;

.branchmaster {
  &__heading {
    font-family: $primary-font;
    font-size: rem10(2.5);
    color: $Teal-Primary;
    font-weight: 600;
    text-align: center;
    margin-bottom: rem10(2);
  }

  &__label {
    font-family: $secondary-color;
    font-size: rem10(1.8);
    font-weight: 500;
    display: block;
    margin-bottom: rem10(1);
  }

  &__title {
    font-family: $secondary-font;
    font-size: rem10(2);
    color: $Teal-Primary;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    margin-bottom: rem10(2);
  }

  &__input {
    @include primaryFormInput;
  }

  &__grid--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: rem10(2);
    justify-content: center;
    margin-bottom: rem10(2);
  }

  &__container {
    margin-bottom: rem10(2);

    &-controls {
      margin-top: rem10(4);
      display: flex;
      gap: rem10(1);
      align-items: center;
      justify-content: center;

      &-btn {
        @include primaryButton;
      }
    }
  }
}
