@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.bankmaster {
  &__heading {
    font-family: $primary-font;
    font-size: 2.5rem;
    color: $primary-color;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__label {
    font-family: $secondary-color;
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
    margin-bottom: 1rem;
  }

  &__input {
    @include primaryFormInput;
  }

  &__container {
    margin-bottom: 2rem;

    &-controls {
      margin-top: 4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      &-btn {
        @include primaryButton;
      }
    }
  }
}
