.menu-card {
    background: #fff;
    border-radius: 18px;
    transition: 0.3s;
    z-index: 1;
    position: relative;
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.menu-icon {
    background: #e7f0ff;
    padding: 10px;
    border-radius: 12px;
    font-size: 25px;
}

.menu-item {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.menu-title {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding: 3px 3px;
}

.menu-title:hover {
    background-color: #2c71f0;
    color: white;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
}

.submenu.open {
    max-height: 300px;
}

.submenu-item {
    padding: 2px 0 2px 15px;
    font-size: 14px;
    color: #444;
    font-weight: 500;
    cursor: pointer;
    margin: 1px;
}

.submenu-item:hover {
    background-color: #2c71f0;
    color: white;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.menu-scroll {
    height: 70vh;
    overflow: auto;
    scrollbar-width: thin;
}

.main-menu-body {
    background: linear-gradient(-45deg, #2e375ec9 0%, #524064da, #2e4e5ab2);
    position: relative;
    overflow: hidden;
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

.main-menu-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        radial-gradient(7px 7px at 20% 30%, rgba(255, 255, 255, 0.8) 50%, transparent 100%),
        radial-gradient(2px 2px at 40% 70%, rgba(255, 255, 255, 0.6) 50%, transparent 100%),
        radial-gradient(1px 1px at 60% 20%, rgba(255, 255, 255, 0.9) 50%, transparent 100%),
        radial-gradient(1px 1px at 80% 50%, rgba(255, 255, 255, 0.7) 50%, transparent 100%),
        radial-gradient(2px 2px at 30% 80%, rgba(255, 255, 255, 0.8) 50%, transparent 100%),
        radial-gradient(1px 1px at 70% 10%, rgba(255, 255, 255, 0.6) 50%, transparent 100%),
        radial-gradient(2px 2px at 90% 90%, rgba(255, 255, 255, 0.9) 50%, transparent 100%),
        radial-gradient(1px 1px at 10% 40%, rgba(255, 255, 255, 0.7) 50%, transparent 100%),
        radial-gradient(4px 4px at 50% 60%, rgba(255, 255, 255, 0.8) 50%, transparent 100%);
    background-size: 250px 250px;
    animation: float 25s infinite alternate;
    pointer-events: none;
}

@keyframes float {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-50px, -50px) rotate(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.acrmenu {
    text-decoration: none;
    color: inherit;
    padding: 2px 0px;
}