@use "../abstracts/variables" as *;
@use "sass:color";
@use "../utilities/remConvertor" as *;

.datatable {
  width: 100%;
  margin-bottom: rem10(1);
  font-family: Arial, sans-serif;
  border: 1px solid $underline-color;
  table-layout: fixed;
  border-radius: 5px;

  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem10(2);

    &-buttons {
      height: auto;
      position: absolute;
      right: 4%;
      top: -1%;
      box-shadow: 0 rem10(1) rem10(2) rgba($dim-black, 0.35);
      border-radius: 7px;
      z-index: 100;
    }

    &-search {
      &--input {
        width: rem10(20);
        padding: rem10(0.6) rem10(1);
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
        color: #333;
        outline: none;
        font-family: $secondary-font;
        font-size: rem10(1.5);
        font-weight: 500;
        outline: none;
        transition: border 0.2s ease, box-shadow 0.2s ease;

        &::placeholder {
          color: #aaa;
        }

        &:focus {
          border-color: $Teal-Primary;
          box-shadow: 0 0 0 2px rgba($Teal-Primary, 0.2);
        }
      }
    }

    &-toggler {
      height: rem10(3.5);
      width: rem10(3.5);
      background-color: $Teal-Primary;
      border-radius: 7px;
      box-shadow: $box-shadow-minimal;
      cursor: pointer;
      transition: transform 0.2s ease;
      font-size: rem10(1.7);
      color: $pure-white;
      display: flex;
      align-items: center;
      justify-content: center;

      &:active {
        transform: scale(0.98);
      }
    }

    &--btn {
      display: block;
      width: 100%;
      padding: rem10(1);
      font-family: $Teal-secondary;
      font-size: rem10(1.3);
      font-weight: 500;
      background-color: $pure-white;
      text-align: left;
      border-bottom: 1px solid rgba($underline-color, 0.9);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $underline-color;
      }
    }
  }

  &__container {
    margin-top: rem10(1);
    position: relative;

    &--forTable {
      padding: rem10(1) rem10(1);
      border-radius: 8px;
      box-shadow: $box-shadow-minimal;
    }
  }

  & th,
  & td {
    padding: rem10(1) rem10(1.5);
    text-align: left;
  }

  & th {
    background-color: $Teal-Primary;
    color: $pure-white;
    font-weight: 600;
    font-family: $primary-font;
    font-size: rem10(1.6);
    border-bottom: 2px solid #ddd;
  }

  & td {
    color: $dim-black;
    font-size: rem10(1.6);
    font-family: $secondary-font;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }

  & tr {
    font-weight: 400;
    &:hover {
      background-color: rgba($Teal-secondary, 0.2);
      font-weight: 600;
    }

    &:nth-child(even) {
      background-color: rgba($underline-color, 0.8);

      &:hover {
        background-color: rgba($Teal-secondary, 0.2);
      }
    }

    &.selected {
      background-color: #add8e6; /* Light blue background when row is selected */
    }
  }

  &__paginationContainer {
    padding: rem10(1) rem10(2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-select {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: rem10(1.2);
      padding: 5px;
      outline: none;
      border: none;
      box-shadow: 0 0 1rem rgba($dim-black, 0.356);
    }

    &-text {
      font-family: $secondary-font;
      font-weight: 500;
      font-size: rem10(1.5);
    }

    &-buttons {
      margin-top: rem10(1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--btn {
        padding: rem10(1);
        font-family: $Teal-secondary;
        font-size: rem10(1.3);
        font-weight: 500;
        border: 1px solid $underline-color;
        text-align: left;
        border-bottom: 1px solid rgba($underline-color, 0.9);
        transition: all 0.3s ease;

        &:hover {
          background-color: $underline-color;
        }

        &-pages {
          background-color: $Teal-Primary;
          color: $pure-white;
          font-weight: 600;
          flex: 1;
          text-align: center;
          &:hover {
            background-color: color.adjust($Teal-Primary, $lightness: -10%);
          }
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

.checkbox__col {
  width: rem10(4);
  text-align: center;
  padding: 0 5px;
}
