@use "../abstracts/variables" as *;
@use "sass:color";
@use "../utilities/remConvertor" as *;

.popup {
  &__data {
    &-container {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 1200;
      width: rem10(95);
      padding: rem10(2) rem10(4);
      background-color: $pure-white;
      transform: translate(-50%, -50%);
      border-radius: 7px;
      box-shadow: $box-shadow-text-fields;
      height: 80% !important;
    }
  }
}

.radio-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: $secondary-font;
  color: $Teal-Primary;
  user-select: none;
  font-weight: 500;
  gap: rem10(0.5);

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid $Teal-Primary;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;

    &:checked {
      background-color: $Teal-Primary;
      border-color: $Teal-Primary;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
      }
    }

    &:disabled {
      cursor: not-allowed;
      border-color: color.adjust($Teal-Primary, $lightness: 40%);
      background-color: color.adjust($Teal-Primary, $lightness: 90%);
    }

    &:focus {
      outline: none;
    }
  }

  span {
    font-family: $secondary-font;
    color: $Teal-Primary;
    font-size: rem10(1.3);
    margin-right: rem10(1);
  }
}
