@use '../abstracts/variables' as *;
@use 'sass:color';

.popup {
  &__data {
    &-container {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 1200;
      width: 95rem;
      padding: 2rem 4rem;
      background-color: $pure-white;
      transform: translate(-50%, -50%);
      border-radius: 7px;
      box-shadow: $box-shadow-text-fields;
    }
  }
}

.radio-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: $secondary-font;
  color: $primary-color;
  user-select: none;
  font-weight: 500;
  gap: 0.5rem;

  input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;

    &:checked {
      background-color: $primary-color;
      border-color: $primary-color;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
      }
    }

    &:disabled {
      cursor: not-allowed;
      border-color: color.adjust($primary-color, $lightness: 40%);
      background-color: color.adjust($primary-color, $lightness: 90%);
    }

    &:focus {
      outline: none;
    }
  }

  span {
    font-family: $secondary-font;
    color: $primary-color;
    font-size: 1.3rem;
    margin-right: 1rem;
  }
}
