@import "tailwindcss";

@keyframes zoom-out {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Text color flow animation */
@keyframes colorFlow {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------------------------------------------------------------- */

/* Logo rotation animation */

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

.animate-color-flow {
  background: linear-gradient(90deg,
      #40c778,
      #f7f9fa,
      #c55003);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: colorFlow 3s linear infinite;
}

.toplinebg {
  background: linear-gradient(to right, #044ce7, #f15005, #046a38, #046a38);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Add these animations to your app.css */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-3px); }
  40%, 80% { transform: translateX(3px); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse {
 100% { opacity: 1; }
  50% { opacity: 0.5; }
  0%{opacity: 1;}
}

/* Utility classes to use with Tailwind */
.animate-shake {
  animation: shake 2s ease-in-out infinite;
}

.animate-spin-on-hover:hover {
  animation: spin 0.5s linear infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.5, 0.6, 0.8, 1) infinite;
}