@import "tailwindcss";

@keyframes slider-one {
  0% {
    visibility: visible;
    opacity: 1;
  }

  25% {
    visibility: visible;
    opacity: 1;
  }

  26% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}

@keyframes text-up {
  10% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* --------------------------------------------------------------------------------------------------------- */

/* for masterslider */
.slider-one {
 
}

.slider-one {
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.slider-text {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #ffffff;
  width: 600px;
}

.slider-one-image {
  width: 100%;
  height: 100%;
  background-image: url("http://10.10.11.155:8081/HIS/hisglobal/mod/assets/img/slider/1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoom-out 3s linear infinite;
}

.amscldesc {
  background: rgba(69, 29, 24, 0.89);
  z-index: 99999;
  right: 0;
  top: 35%;
}

.toplinebg {
  background: linear-gradient(to right, #044ce7, #f15005, #046a38, #046a38);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}